@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
.subtitle {
  display: flex;
  justify-content: center;
}
.subtitle > * {
  font-family: "Tiny5";
}
