---
import "../styles/global.css";
import "../styles/subtitle.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutCard from "../components/about-card.astro";
---

<style></style>

<BaseLayout>
  <div class="subtitle"><h1>about me</h1></div>
  <p style="font-style: italic; text-align: center;">"Bored and Stressed"</p>
  <div class="divider"><h1>projects</h1></div>
  <AboutCard cardTitle="Clicker project">
    mini game that me and my friend made cuz its fun and we want money
  </AboutCard>
  <AboutCard cardTitle="Example Card">
    Should be yet another project here
  </AboutCard>
  <AboutCard cardTitle="PamPan">Horrorterrors of code.</AboutCard>
</BaseLayout>
