---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import "../styles/recent-posts.css";
const pageTitle = "Home Page";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<style>
  .title {
    display: flex;
    justify-content: center;
  }
  .title h1 {
    font-family: "Tiny5";
  }
</style>

<>
  <div class="title"><h1>kQuote's Home</h1></div>
  <BaseLayout pageTitle={pageTitle}>
    <div class="recent-posts">
      <h2>Recent posts</h2>
      <ul>
        {
          allPosts.slice(0, 5).map((post: any) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </BaseLayout>
</>
