---
import BaseLayout from "../layouts/BaseLayout.astro";
import Coocies from "../components/coocies.astro";
const pageTitle = "Home Page";
---

<style>
  .title {
    display: flex;
    justify-content: center;
  }
  .title h1 {
    font-family: "Tiny5";
  }
  p {
    font-size: 5vw;
    opacity: 20%;
    align-self: center;
  }
  .unity-test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>

<>
  <div class="title"><h1>kQuote's Home</h1></div>
  <BaseLayout pageTitle={pageTitle}>
    <div class="unity-test">
      <p>COOCIES???</p>
      <Coocies />
    </div>
  </BaseLayout>
</>
