<style>
  footer {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 4px;
  }
  footer > * {
    opacity: 50%;
  }
  a {
    font-family: "fa-brands";
    font-size: larger;
    color: black;
    text-decoration: none;
  }
</style>

<footer>
  <p>find me on</p>
  <a aria-label="github" href="https://github.com/kquote03">&#61595;</a>
  <a aria-label="linkedin" href="https://www.linkedin.com/in/kenan-hassan/">
    &#61580;
  </a>
  <!-- <a aria-label="bluesky" href="https://bsky.app/profile/kquote.site">&#58993;</a>-->
</footer>
