<style>
  nav {
    background-color: #333;
    padding: 1em;
    border-radius: 10px; /* Add this line */
    display: flex;
    justify-content: left;
    gap: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin-right: 20px;
  }

  nav > * {
    background-color: slategrey;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease-in-out;

    /* Add these lines to give each link a rounded rectangle background */
    padding: 10px 15px; /* Adjust the padding as needed */
    border-radius: 5px; /* You can adjust this value for more or less curvature */
    cursor: pointer;
  }

  nav a:hover {
    color: #ccc;

    /* Add these lines to change the hover effect of each link's background */
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.1);
  }

  .search {
    margin-left: auto;
  }
</style>

<nav>
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
  <a href="/about/">Portfolio</a>
  <div class="search">&#128269;</div>
</nav>
